<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="KFLDRLDutyCycles" value="0,30,50,60,70,75,80,85,90,95"/><!-- 10 -->
		<add key="KFLDRLRpms" value="3000,3250,3500,3750,4000,4250,4500,4750,5000,5250,5500,5750,6000,6250,6500,6750"/><!-- 16 -->
		<add key="KFLDIMXPressures" value="0,1000,1375,1750,2050,2350,2650,3000"/><!-- 8 -->
		<add key="KFLDIMXDutyCycles" value="0,18,36,54,63,72,81,90"/><!-- 8 -->
		<add key="RangeFilterMinRpmLength" value="2500"/>
		<add key="RangeFilterSeconds" value="0.01"/>
		<add key="RangeFilterMBar" value="75"/>
	</appSettings>
</configuration>